@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
header{
    padding: 20px 0;
}
.container{
    max-width: 940px;
    margin: auto;
}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar{
    list-style: none;
    display: flex;
}
header nav li{
    margin-left: 34px;
}
header nav li a{
    font-family: 'montserratregular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;text-transform: uppercase;
    color: #404040;text-decoration: none;
    display: inline-block;
}
header nav li a:hover{
transform: rotate(360deg);
    transition: 0.5s;
}
footer{
    padding: 69px 0;
    background-color: black;
}
.form_container{
    max-width: 564px;
    margin: auto
}
footer form div{
    align-items: center;
    margin: auto;
    max-width: 564px;
    box-sizing: border-box;
}
footer form input{
    border: none;
    width: 100%;
    padding: 18px 32px 17px 31px;
    box-sizing: border-box;
    height: 57px;
    resize: none;
    background-color: #FFFFFF2E;
}
.textarea{
    height: 127px;
    width: 100%;
    padding: 17px 31px 88px 31px;
    box-sizing: border-box;
    resize: none;
    background-color: #FFFFFF33;
    border: none
}
.submit_button{
    padding: 16px 61px;
    border-color: #7EC4BD;
    background-color: black;
    text-align: center;
    color: #7EC4BD;
}
.footer_logo{
    display: block;
    margin: auto;
    margin-top: 37px;
    margin-bottom: 14px
}
.footer_text{text-align: center;
    font-family: 'montserratregular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px; color: rgba(255, 255, 255, 0.4)

}
.block{
    display: block;
    margin: auto;
    border: none;
}
main{
    background-image: url("images/SW.jpg");
}